form {
    height: 100vh;
    width: 100%;
}

#form-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 80%;
}

.form-group {
    width: 75%;
}

#buttons {
    width: 75%;
    display: flex;
    justify-content: flex-start;
    margin-top: 1.5rem;
}

#buttons .btn-danger {
    position: relative;
    left: 2%;
}